<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key ="Enviroment" value="PROD"/>
    <add key="Browser" value="FireFox"/>

    <add key="SST-classesURL.QA" value="http://https://nitro.duckdns.org/sst-classes.QA/index.html"/>
    <add key="SST-classesURL.PROD" value="https://nitro.duckdns.org/sst-classes/index.html"/>

  </appSettings>
</configuration>