<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key ="Enviroment" value="QA"/>
    <add key="Browser" value="FireFox"/>

    <add key="SST-classesURL.QA" value="https://nitro.duckdns.org/sst-classes/login" />
    <add key="SST-classesURL.PROD" value="https://nitro.duckdns.org/sst-classes/login" />

  </appSettings>
</configuration>